<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="description" content="html template">
    <meta name="author" content="JD-Themes">
    <!--color theme of the status-bar (Chrome, Firefox OS and Opera)-->
    <meta name="theme-color" content="#0288d1">
    <!--iOS safari status-bar-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent">
    <!--windows phone status-bar-->
    <meta name="msapplication-navbutton-color" content="#0288d1">
    <meta name="msapplication-TileColor" content="#0288d1">
    <meta name="msapplication-TileImage" content="img/favicon.ico">
    <!--favicon-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
    <link rel="SHORTCUT ICON" type="image/x-icon" href="img/favicon.ico">
    <!--page title-->
    <title>Strict</title>
    <!--сonnecting css files-->
    <!--font-awesome-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--owl-carousel-->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!--owl-theme-->
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <!--core(bootstrap)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--main css(custom)-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/estilos.css">
    <style type="text/css">
        #bienvenido-section{
            background-image: url("http://localhost/strict/img/fondo.png");
        }
        #informes-section{
            background-image: url("http://localhost/strict/img/fondo2.png");
        }
    </style>
    <!--connecting js files-->
    <!--modernizr.js-->
    <script src="js/modernizr-custom.js"></script>
    <!--jQuery-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!--YTP player-->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!--countUp.js-->
    <script src="js/countUp.min.js"></script>
    <!--imageloaded.js-->
    <script src="js/imageloaded.js"></script>
    <!--waypoints.js-->
    <script src="js/jquery.waypoints.min.js"></script>
    <!--owl-carousel.js-->
    <script src="js/owl.carousel.min.js"></script>
    <!--parallax.js-->
    <script src="js/parallax.js"></script>
    <!--shuffle.js-->
    <script src="js/jquery.shuffle.min.js"></script>
    <!--bootstrap.js-->
    <script src="js/bootstrap.js"></script>
    <!--custom js-file-->
    <script src="js/main.js"></script>
</head>
<body>
<!--page wrapper-->
<main id="wrapper" class="d-flex flex-column">
    <header>
        <div class="top-bar">
            <div class="container d-flex justify-content-between align-items-center">
                <div class="info-box d-flex">
                    <a href="tel:" class="mr-3"><i class="fa fa-phone"></i>+1800 1234 5678</a>
                    <a href="mailto:"><i class="fa fa-envelope"></i>example@domain.com</a>
                </div>
                <div class="social-box">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="#" style="width: 50%;">
                    <img src="img/logo.png" class="img-fluid" alt="" style="width: 200px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse navbar-right justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link font-weight-medium active" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-medium" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-medium" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-weight-medium" href="#">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="" class="" style="margin-top: 116px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="img/slide.png" alt="" style="width: 100%;">
              <div class="carrusel-titulo">
                <h1>Construcción y <br> Obras civiles</h1>
                <a class="btn-slide" href="#">Ver más</a>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
    <section id="bienvenido-section">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 ln">
            <div class="linea1sup"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            
            <div class="sec-title-titulo">
                
                <h1 style="">BIENVENIDOS</h1>
                <p>En Inversiones GOMCAR somos un grupo corporativo peruano de rápido crecimiento, que en cinco años hemos desarrollado 4 líneas de negocio para sectores industriales, empresas comerciales y servicios directo a profesionales: construcción y obras civiles, alquiler de unidades de transporte y equipos, fabricación de equipos en acero inoxidable, y estructuras metálicas.</p>
                <button class="btn-p" type="button">Ver más</button>
            </div>
            
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 ln">
            <div class="linea2sup"></div>
            </div>
            </div>
    </section>
    <section id="">
        <div class="container">
            <div class="row">
                <div class="col-lg col-lg-6 capabilities-box">
                    <div class="service">
                        <div class="service-header">
                            <img src="img/service-img1.jpg" alt="">
                            <div class="transparent-box"></div>
                        </div>
                        <div class="service-body">
                            <h4 class="text-center">Customer Insights</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-lg-6 capabilities-box">
                    <div class="service">
                        <div class="service-header">
                            <img src="img/service-img2.jpg" alt="">
                            <div class="transparent-box"></div>
                        </div>
                        <div class="service-body">
                            <h4 class="text-center">Business Strategy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-lg-6 capabilities-box">
                    <div class="service">
                        <div class="service-header">
                            <img src="img/service-img3.jpg" alt="">
                            <div class="transparent-box"></div>
                        </div>
                        <div class="service-body">
                            <h4 class="text-center">Financial Analysis</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg col-lg-6 capabilities-box">
                    <div class="service">
                        <div class="service-header">
                            <img src="img/service-img3.jpg" alt="">
                            <div class="transparent-box"></div>
                        </div>
                        <div class="service-body">
                            <h4 class="text-center">Financial Analysis</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="informes-section">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 ln">
            <div class="linea1inf"></div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
            
            <div class="sec-title-titulo2">
                
                <h1>INFORMES</h1>
                <p>Para mayor información puede comunicarse con nosotros en el siguiente horario:<br>
                    de Lunes a Viernes de 8:00 am. a 6:00 pm.
                </p>
                <a class="btn-slide" href="#"><i class="fa fa-telegram" aria-hidden="true"></i>Envianos un mensaje</a>
            </div>
            
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 ln">
            <div class="linea2inf"></div>
            </div>
            </div>
    </section>
    <!-- Footer-->
    <footer>
        <div class="container">
            <div class="row widget-row">
                <div class="col-xl col-md-6 col-info col-widget mb-md-4">
                    <img src="img/logo-footer.png">
                </div>
                <div class="col-xl col-md-6 col-news col-widget mb-md-4">
                    <h5 class="footer-title-widget font-weight-bold text-white text-uppercase mb-3">SERVICIOS</h5>
                    <div class="contact-widget">
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-chevron-circle-right"></i></div>
                            <p class="mb-0">Estructuras metálicas</p>
                        </div>
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-chevron-circle-right"></i></div>
                            <p class="mb-0">Equipos en acero inoxidables</p>
                        </div>
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-chevron-circle-right"></i></div>
                            <p class="mb-0">Construcción y obras civiles</p>
                        </div>
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-chevron-circle-right"></i></div>
                            <p class="mb-0">Alquiler de equipos y unidades de transportes</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl col-md-6 col-widget col-works">
                    <h5 class="footer-title-widget font-weight-bold text-white text-uppercase mb-3">Información</h5>
                   <div class="contact-widget">
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-phone"></i></div>
                            <p class="mb-0">(01) 301 5679</p>
                        </div>
                        <div class="info-contact d-flex mb-2">
                            
                            <div><i class="fa fa-envelope"></i></div>
                            <p class="mb-0">informes@inversionesgomcar.com</p>
                        </div>
                        <div class="info-contact d-flex mb-2">
                            <div><i class="fa fa-map-marker"></i></div>
                            <p class="mb-0">Mz N, Lote31 Urb. Villa Flores V.E.S</p>
                            
                        </div>
                   </div> 
                </div>
                <div class="col-xl col-md-6 col-widget col-contact">
                    <h5 class="footer-title-widget font-weight-bold text-white text-uppercase mb-3">Redes sociales</h5>
                    <div class="contact-widget">
                        <p class="mb-3">Encuentranos en:</p>
                        <div class=" d-flex mb-3">
                            <div class="mr-2">
                                <a href="#" class="d-flex justify-content-center align-items-center"><i
                                        class="fa fa-facebook"></i></a>
                            </div>
                            <div class="mr-2">
                                <a href="#" class="d-flex justify-content-center align-items-center"><i
                                        class="fa fa-twitter"></i></a>
                            </div>
                            <div class="mr-2">
                                <a href="#" class="d-flex justify-content-center align-items-center"><i
                                        class="fa fa-youtube"></i></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-copyright">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <p class="mb-0">
                        © GOMCAR Copyright. Todos los derechos Reservados. Lima - Perú
                    </p> 
                </div>
                <div class="row d-flex justify-content-center">
                    <p class="mb-0">
                        Desarrollado por OnLineSOLUTIONS
                    </p> 
                </div>
            </div>
        </div>
    </footer>
</main>

</body>

<!-- Mirrored from jd-host.ru/strict/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Nov 2017 17:04:33 GMT -->
</html>